#landingPage a:hover{
	color: #0000FF;
	text-decoration: none;
}
#footer{
	color: #0000FF;
	background-color: #000;
}
#contactMe a:visited {
	color: #0000FF;
}
#contactMe a:hover{
	color: #000;
}
.icon-round{
	border: 2px solid #000;
	color:#0000FF;
	background-color: #000;
}
.icon-square{
	background-color: #000;
	color: #0000FF;
}
.icon-square:hover{
	color: #000;
	background-color: #0000FF;
}
.icon-round:hover{
	color: #000;
	background-color: #0000FF;
}
a{
	color: #0000FF;
}