body{font-family: 'Supermercado One', cursive;}
#landingPage{
	min-height: 100vh;
	background-image: url(../img/hire.jpg);
	background-size: cover;
	padding-top: 100px;
	font-weight: bolder;
	color: #000;
}
#aboutMe{
	/*background: linear-gradient(to bottom left, rgb(255, 5, 85), #fff);*/
	font-size: xx-large;
	line-height: 300%;
	min-height: 100vh;
	font-weight: 300;
}
#learning{
	min-height: 100vh;
	line-height: 300%;
}
#colorPane{
  position: fixed;
  bottom:  0;
}
.colors-list {
    margin:0;
    padding:0;
}
.colors-list li {
    float:left;
    display:block;
    margin-bottom:2px;
    margin-right:6px;
}
.colors-list li a {
    display:inline-block;
    width:24px;
    height:24px;
    cursor: pointer;
}
.colors-list a.pink {
    background-color:rgb(255, 5, 85);
}
.colors-list a.green {
    background-color:#00ADAD;
}
.colors-list a.blue {
    background-color:#2549BB;
}
.colors-list a.black {
    background-color:#000;
}

.icon-round {
font-size: 30px;
height: 60px;
width: 60px;
text-align: center;
align-content: center;
border-radius: 50%;
line-height: 60px;
margin-top: 40px;
margin-bottom: 20px
}
.icon-square{
	font-size: 20px;
	height: 50px;
	width: 50px;
	text-align: center;
	align-content: center;
	line-height: 50px;
}
#p1:hover{
	content: url(http://res.cloudinary.com/luthfulahi/image/upload/v1517454658/project1-0_g1dzd5.jpg);
}
#p2:hover{
	content: url(http://res.cloudinary.com/luthfulahi/image/upload/v1517454658/project2-0_wunbos.jpg);
}
#p3:hover{
	content: url(http://res.cloudinary.com/luthfulahi/image/upload/v1517454658/project3-0_m0yg6g.jpg);
}
.main-img:hover{
	content: url(../img/code.png);
}
.fadeh {
	margin-top: 70px;
}